<div class="grid grid-cols-12 gap-4 md:gap-6">
  
  <div class="col-span-12 space-y-6 xl:col-span-7">
     <div class="relative max-w-40">
            <input #datepicker class="h-10 w-full max-w-11 rounded-lg border border-gray-200 bg-white py-2.5 pl-[34px] pr-4 text-theme-sm font-medium text-gray-700 shadow-theme-xs focus:outline-hidden focus:ring-0 focus-visible:outline-hidden dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 xl:max-w-fit xl:pl-11" placeholder="Select dates" data-class="flatpickr-right" readonly="readonly" />
            <div class="absolute inset-0 right-auto flex items-center pointer-events-none left-4">
                <svg class="fill-gray-700 dark:fill-gray-400" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66683 1.54199C7.08104 1.54199 7.41683 1.87778 7.41683 2.29199V3.00033H12.5835V2.29199C12.5835 1.87778 12.9193 1.54199 13.3335 1.54199C13.7477 1.54199 14.0835 1.87778 14.0835 2.29199V3.00033L15.4168 3.00033C16.5214 3.00033 17.4168 3.89576 17.4168 5.00033V7.50033V15.8337C17.4168 16.9382 16.5214 17.8337 15.4168 17.8337H4.5835C3.47893 17.8337 2.5835 16.9382 2.5835 15.8337V7.50033V5.00033C2.5835 3.89576 3.47893 3.00033 4.5835 3.00033L5.91683 3.00033V2.29199C5.91683 1.87778 6.25262 1.54199 6.66683 1.54199ZM6.66683 4.50033H4.5835C4.30735 4.50033 4.0835 4.72418 4.0835 5.00033V6.75033H15.9168V5.00033C15.9168 4.72418 15.693 4.50033 15.4168 4.50033H13.3335H6.66683ZM15.9168 8.25033H4.0835V15.8337C4.0835 16.1098 4.30735 16.3337 4.5835 16.3337H15.4168C15.693 16.3337 15.9168 16.1098 15.9168 15.8337V8.25033Z" fill="" />
                </svg>
            </div>
        </div>
  </div>
  
  <div class="col-span-12 space-y-6 xl:col-span-7">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-6">
  <!-- Metric Item Start -->
  <div class="rounded-2xl border border-gray-200 bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] md:p-6">
    <div class="flex items-center justify-center w-12 h-12 bg-gray-100 rounded-xl dark:bg-gray-800" [innerHTML]="icons.decagramPercent | safeHtml">
    </div>
    <div class="flex items-end justify-between mt-5">
      <div>
        <span class="text-sm text-gray-500 dark:text-gray-400">Cotizaciones</span>
        <h4 class="mt-2 font-bold text-gray-800 text-title-sm dark:text-white/90">{{ quotationTenant?.quotations }}</h4>
        <p class="mt-2 text-gray-400 dark:text-white/40">de {{ quotationLeaders[0]?.quotations }}</p>
      </div>
      <app-badge color="success">
        <span [innerHTML]="icons.arrowUpIcon | safeHtml"></span>
        {{ quotationTenant?.percentage }}%
      </app-badge>
    </div>
    <div class="mt-5">
      <p class="text-gray-400 dark:text-white/40">El primer lugar lo obtuvo <strong>{{ quotationLeaders[0]?.company }}</strong> con {{ quotationLeaders[0]?.quotations }} cotizaciones consiguiendo el {{ quotationLeaders[0]?.percentage }}% de las ofertas.</p>
    </div>
  </div>
  <!-- Metric Item End -->

  <!-- Metric Item Start -->
  <!-- <div class="rounded-2xl border border-gray-200 bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] md:p-6">
    <div class="flex items-center justify-center w-12 h-12 bg-gray-100 rounded-xl dark:bg-gray-800" [innerHTML]="icons.boxIconLine| safeHtml">
    </div>
    <div class="flex items-end justify-between mt-5">
      <div>
        <span class="text-sm text-gray-500 dark:text-gray-400">Orders</span>
        <h4 class="mt-2 font-bold text-gray-800 text-title-sm dark:text-white/90">5,359</h4>
      </div>
      <app-badge color="error">
        <span [innerHTML]="icons.arrowDownIcon | safeHtml"></span>
        9.05%
      </app-badge>
    </div>
  </div> -->
  <!-- Metric Item End -->
</div>
</div>